<nav class="navbar navbar-default fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/admin">Appcaster</a>
    <ul class="nav navbar-nav mr-auto">
    <% if (typeof user !== 'undefined') { %>
      <li><a href="/admin/apps">Apps</a></li>
      <li><a href="/admin/channels">Channels</a></li>
      <li><a href="/admin/clients">Clients</a></li>
      <li><a href="/admin/builds">Builds</a></li>
    <% } %>
    </ul>
    <% if (typeof user !== 'undefined') { %>
      <form action="/admin/session" method="post" class="navbar-form navbar-right">
        <%= user.name %>
        <button type="submit" class="btn btn-link">
          <span class="glyphicon glyphicon-log-out"></span>
        </button>
        <input type="hidden" value="delete" name="_method" />
      </form>
    <% } %>
  </div>
</nav>
